In [1]:
from collections import Counter
from flask import Flask, request, render_template, jsonify
import pickle
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import requests
import re
from bs4 import BeautifulSoup
import argparse
import time
from splinter import Browser
import time
from collections import defaultdict
import json
import re
import requests
import boto3
from boto3.dynamodb.conditions import Key, Attr
import json
from decimal import Decimal

In [2]:
%load_ext autoreload
%autoreload 2

In [68]:
from src.cleaner import Cleaner 
import src.fantasy_scoring as fs
from src.db_helper import DB_helper

In [71]:
#clnr = Cleaner()
db = DB_helper()

reading env variables

In [13]:
lag = "_06"
lag_cols = [col+lag for col in clnr.lag_cols]

In [14]:
lag_cols

['minutes_06',
 'dk_score_06',
 'dk_per_min_06',
 'dk_no_fg_06',
 'dk_no_fg_per_min_06',
 'assists_06',
 'assists_per_min_06',
 'blocks_06',
 'blocks_per_min_06',
 'or_per_min_06',
 'dr_per_min_06',
 'steals_per_min_06',
 'turnovers_per_min_06',
 'doubles_06',
 'fg_pct_06',
 'ft_pct_06',
 'two_pct_06',
 'three_pct_06',
 'game_score_06',
 'attempted_field_goals_06',
 'attempted_three_point_field_goals_06',
 'w_06']

In [72]:
slug = 'curryst01'
resp = db.get_player(slug,lag_cols)
print(len(resp))

595

In [75]:
resp.head()

  assists_06 assists_per_min_06  ... two_pct_06   w_06
0          8              0.185  ...      0.625      1
1        6.5              0.179  ...      0.562    0.5
2      5.667              0.152  ...      0.518  0.333
3       7.25              0.183  ...       0.46    0.5
4        7.2               0.18  ...      0.457    0.4

[5 rows x 24 columns]

In [22]:
data1 = pd.read_csv("data/bb_reference/2016to2019Data_merged.csv", encoding = 'latin-1')
data2 = pd.read_csv("data/bb_reference/2013to2015Data_merged.csv", encoding = 'latin-1')
data = data1.append(data2)
data = data.drop(['Unnamed: 0_y','Unnamed: 0'], axis = 1)
data = data.rename(columns={'Unnamed: 0_x':'gamescore_rank'})
data = clnr.transform(data)
data['date']=data['dt'].apply(lambda x: x.strftime("%Y-%m-%d"))
players = data['slug'].unique()
names = data['player'].unique()
slug_names = {}
name_slugs = {}
for row in data[['slug','player']].groupby('slug').agg('first').iterrows():
    slug_names[row[0]]=row[1]['player']
    name_slugs[row[1]['player']]=row[0]

In [44]:
len(resp)

391

In [24]:
data = data.sort_values(by='date',axis = 0)

In [76]:
player_hist = data[data['slug']==slug].iloc[1:,:]
player_hist.shape

(594, 54)

In [57]:
resp.index = player_df['date']
lag_data = player_df.sort_index(axis = 0,ascending=True).shift(1)
#lag_data = player_df.shift(1)
lag_data.head()

           assists_06 assists_per_min_06  ... two_pct_06   w_06
date                                      ...
2015-03-09        NaN                NaN  ...        NaN    NaN
2015-03-11        6.5              0.194  ...      0.376  0.833
2015-03-14        7.5              0.226  ...      0.331  0.833
2015-03-16      8.167              0.254  ...      0.315      1
2015-03-18      7.833               0.25  ...      0.377      1

[5 rows x 24 columns]

In [55]:
player_df.sort_index(ascending=True,axis = 0)

           assists_06 assists_per_min_06  ... two_pct_06   w_06
date                                      ...
2015-03-09        6.5              0.194  ...      0.376  0.833
2015-03-11        7.5              0.226  ...      0.331  0.833
2015-03-14      8.167              0.254  ...      0.315      1
2015-03-16      7.833               0.25  ...      0.377      1
2015-03-18      8.667               0.28  ...      0.388      1
2015-03-20      9.833              0.326  ...      0.412      1
2015-03-21        9.5              0.319  ...      0.375      1
2015-03-23      8.667                0.3  ...      0.396      1
2015-03-24        8.5              0.279  ...      0.432      1
2015-03-27      8.667              0.282  ...      0.436      1
2015-03-28      7.667              0.247  ...      0.453      1
2015-03-31        6.5              0.198  ...      0.479      1
2015-04-02      6.833              0.207  ...      0.471      1
2015-04-04      6.333               0.19  ...       0.45      1
2015-04-05      5.667              0.176  ...      0.442  0.833
2015-04-07        5.5              0.171  ...      0.442  0.667
2015-04-09      6.167              0.185  ...      0.509  0.667
2015-04-11      6.667                0.2  ...      0.535  0.667
2015-04-13      7.167               0.22  ...      0.599  0.667
2015-04-15      7.833              0.263  ...      0.592  0.667
2015-04-18      7.667               0.25  ...      0.622  0.833
2015-04-20      7.167              0.234  ...      0.639      1
2015-04-23          7              0.221  ...      0.534      1
2015-04-25      7.333              0.227  ...      0.504      1
2015-05-03      7.167              0.213  ...      0.445      1
2015-05-05          7              0.177  ...      0.494  0.833
2015-05-09      7.167              0.181  ...       0.46  0.667
2015-05-11          7              0.176  ...      0.466  0.667
2015-05-13      6.333              0.167  ...      0.421  0.667
2015-05-15        6.5              0.171  ...      0.393  0.667
...               ...                ...  ...        ...    ...
2019-03-27        5.5              0.165  ...      0.337  0.833
2019-03-29      5.833               0.17  ...      0.317  0.667
2019-03-31        5.5              0.171  ...      0.329  0.833
2019-04-02        5.5              0.173  ...        0.4  0.833
2019-04-04        5.5              0.172  ...      0.467  0.833
2019-04-05      6.167              0.191  ...      0.449  0.833
2019-04-07      5.667              0.178  ...      0.561  0.833
2019-04-09          5              0.176  ...      0.589      1
2019-04-13      5.167              0.171  ...      0.631      1
2019-04-15      5.333              0.173  ...      0.535  0.833
2019-04-18      4.333              0.142  ...      0.569  0.833
2019-04-21      4.333              0.143  ...       0.58  0.833
2019-04-24      4.333              0.138  ...      0.496  0.667
2019-04-26      5.167              0.147  ...      0.524  0.667
2019-04-28      4.667              0.134  ...      0.566  0.667
2019-04-30        4.5              0.129  ...      0.661  0.833
2019-05-04          5              0.136  ...      0.621  0.667
2019-05-06      5.167              0.133  ...      0.675    0.5
2019-05-08      5.333              0.135  ...      0.709  0.667
2019-05-10          5              0.128  ...       0.69  0.667
2019-05-14        5.5              0.142  ...      0.586  0.667
2019-05-16          6              0.152  ...      0.565  0.667
2019-05-18      5.833               0.15  ...      0.589  0.833
2019-05-20      6.333              0.158  ...      0.542      1
2019-05-30      6.333               0.16  ...      0.532  0.833
2019-06-02      6.333              0.157  ...      0.511  0.833
2019-06-05      6.333              0.151  ...      0.527  0.667
2019-06-07          6              0.139  ...      0.471    0.5
2019-06-10      6.667              0.154  ...       0.48    0.5
2019-06-13          6              0.144  ...       0.49  0.333

[391 rows x 24 columns]

In [31]:
lag_data.index

Index(['2013-01-02', '2013-01-04', '2013-01-06', '2013-01-08', '2013-01-10',
       '2013-01-12', '2013-01-14', '2013-01-16', '2013-01-17', '2013-01-23',
       ...
       '2016-12-29', '2016-12-31', '2017-01-02', '2017-01-04', '2017-01-06',
       '2017-01-08', '2017-01-10', '2017-01-11', '2017-01-13', '2017-01-16'],
      dtype='object', name='date', length=390)

In [33]:
player_hist['date']

445      2013-01-04
879      2013-01-06
1134     2013-01-08
1450     2013-01-10
1765     2013-01-12
2092     2013-01-14
2396     2013-01-16
2612     2013-01-17
3406     2013-01-23
3698     2013-01-25
4141     2013-01-27
4526     2013-01-30
4817     2013-02-01
5240     2013-02-03
5300     2013-02-04
5584     2013-02-06
5903     2013-02-08
6253     2013-02-10
6604     2013-02-12
6979     2013-02-14
7230     2013-02-20
7446     2013-02-21
7759     2013-02-23
7900     2013-02-24
8175     2013-02-26
8612     2013-03-01
8940     2013-03-03
9133     2013-03-04
9351     2013-03-06
9674     2013-03-08
            ...
22498    2018-12-08
22499    2018-12-10
22500    2018-12-13
22501    2018-12-15
22502    2018-12-16
22503    2018-12-18
22504    2018-12-21
22505    2018-12-23
22506    2018-12-25
22507    2019-01-31
22508    2019-02-05
22509    2019-02-07
22510    2019-02-10
22511    2019-02-12
22512    2019-02-21
22513    2019-02-23
22514    2019-02-25
22515    2019-02-27
22516    2019-03-01
22517    2019-03-02
22518    2019-03-04
22519    2019-03-06
22520    2019-03-09
22521    2019-03-12
22522    2019-03-14
22523    2019-03-17
22524    2019-03-22
22525    2019-03-24
22526    2019-03-26
22527    2019-03-29
Name: date, Length: 603, dtype: object