In [1]:
from collections import Counter
from flask import Flask, request, render_template, jsonify
import pickle
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import requests
import re
from bs4 import BeautifulSoup
import argparse
import time
from splinter import Browser
import time
from collections import defaultdict
import json
import re
import requests
import boto3
from boto3.dynamodb.conditions import Key, Attr
import json
from decimal import Decimal

In [2]:
%load_ext autoreload
%autoreload 2

In [121]:
from src.cleaner import Cleaner 
import src.fantasy_scoring as fs
from src.db_helper import DB_helper

In [101]:
f = open('.env','r')
env = {}
print('reading env variables')
for line in f.readlines():
    env[line.strip().split("=")[0]]=line.strip().split("=")[1]
dynamodb = boto3.resource('dynamodb', region_name='us-east-1',aws_access_key_id = env['aws_access_key_id'],
    aws_secret_access_key = env['aws_secret_access_key'])
table = dynamodb.Table('nba_bbref')

reading env variables

In [122]:
clnr = Cleaner()
db = DB_helper()

reading env variables

In [13]:
lag = "_06"
lag_cols = [col+lag for col in clnr.lag_cols]

In [14]:
lag_cols

['minutes_06',
 'dk_score_06',
 'dk_per_min_06',
 'dk_no_fg_06',
 'dk_no_fg_per_min_06',
 'assists_06',
 'assists_per_min_06',
 'blocks_06',
 'blocks_per_min_06',
 'or_per_min_06',
 'dr_per_min_06',
 'steals_per_min_06',
 'turnovers_per_min_06',
 'doubles_06',
 'fg_pct_06',
 'ft_pct_06',
 'two_pct_06',
 'three_pct_06',
 'game_score_06',
 'attempted_field_goals_06',
 'attempted_three_point_field_goals_06',
 'w_06']

In [72]:
slug = 'curryst01'
resp = db.get_player(slug,lag_cols)
print(len(resp))

595

In [75]:
resp.head()

  assists_06 assists_per_min_06  ... two_pct_06   w_06
0          8              0.185  ...      0.625      1
1        6.5              0.179  ...      0.562    0.5
2      5.667              0.152  ...      0.518  0.333
3       7.25              0.183  ...       0.46    0.5
4        7.2               0.18  ...      0.457    0.4

[5 rows x 24 columns]

In [22]:
data1 = pd.read_csv("data/bb_reference/2016to2019Data_merged.csv", encoding = 'latin-1')
data2 = pd.read_csv("data/bb_reference/2013to2015Data_merged.csv", encoding = 'latin-1')
data = data1.append(data2)
data = data.drop(['Unnamed: 0_y','Unnamed: 0'], axis = 1)
data = data.rename(columns={'Unnamed: 0_x':'gamescore_rank'})
data = clnr.transform(data)
data['date']=data['dt'].apply(lambda x: x.strftime("%Y-%m-%d"))
players = data['slug'].unique()
names = data['player'].unique()
slug_names = {}
name_slugs = {}
for row in data[['slug','player']].groupby('slug').agg('first').iterrows():
    slug_names[row[0]]=row[1]['player']
    name_slugs[row[1]['player']]=row[0]

In [80]:
test_ = data.iloc[0:100].copy(deep = True)
test_.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 0 to 51
Data columns (total 54 columns):
gamescore_rank                       100 non-null int64
assists                              100 non-null int64
attempted_field_goals                100 non-null int64
attempted_free_throws                100 non-null int64
attempted_three_point_field_goals    100 non-null int64
blocks                               100 non-null int64
date                                 100 non-null object
defensive_rebounds                   100 non-null int64
game_score                           100 non-null float64
location                             100 non-null object
made_field_goals                     100 non-null int64
made_free_throws                     100 non-null int64
made_three_point_field_goals         100 non-null int64
name                                 100 non-null object
offensive_rebounds                   100 non-null int64
opponent                             100 non-null object
outcome                              100 non-null object
personal_fouls                       100 non-null int64
seconds_played                       100 non-null int64
slug                                 100 non-null object
steals                               100 non-null int64
team                                 100 non-null object
turnovers                            100 non-null int64
player                               100 non-null object
birthday                             100 non-null object
year_min                             100 non-null int64
year_max                             100 non-null int64
pos                                  100 non-null object
height                               100 non-null object
weight                               100 non-null float64
points                               100 non-null int64
rebounds                             100 non-null int64
doubles                              100 non-null int64
dd                                   100 non-null int64
td                                   100 non-null int64
dk_score                             100 non-null float64
dk_per_min                           100 non-null float64
dk_no_fg                             100 non-null float64
dk_no_fg_per_min                     100 non-null float64
assists_per_min                      100 non-null float64
blocks_per_min                       100 non-null float64
or_per_min                           100 non-null float64
dr_per_min                           100 non-null float64
steals_per_min                       100 non-null float64
turnovers_per_min                    100 non-null float64
points_per_min                       100 non-null float64
double_per_min                       100 non-null float64
minutes                              100 non-null float64
fg_pct                               100 non-null float64
w                                    100 non-null int64
three_pct                            100 non-null float64
two_pct                              100 non-null float64
ft_pct                               100 non-null float64
dt                                   100 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(19), int64(23), object(11)
memory usage: 43.0+ KB

In [135]:
data = data.sort_values(by='date',axis = 0)
data.head()

    gamescore_rank  assists  attempted_field_goals  attempted_free_throws  attempted_three_point_field_goals  ...  w three_pct   two_pct    ft_pct         dt
0               22        3                     17                      0                                  0  ...  1  0.000000  0.588235  0.000000 2013-01-01
60              35        1                     11                      0                                  0  ...  1  0.000000  0.545455  0.000000 2013-01-01
87             104        1                      2                      0                                  0  ...  0  0.000000  0.000000  0.000000 2013-01-01
86               8        2                     21                      2                                  0  ...  0  0.000000  0.476190  0.500000 2013-01-01
85               4        5                     14                      7                                  3  ...  1  0.666667  0.545455  0.571429 2013-01-01

[5 rows x 54 columns]

In [149]:
out = clnr.time_stats(test)
#out['date']=test['dt'].apply(lambda x: x.strftime("%Y-%m-%d"))
out['date']=test['date'].values
out =out.drop(labels = ['dt'],axis = 1)
#out['date']=1
out.head()
#out[0].merge(out[1],on='dt',suffixes = ('_sum','_avg'))

   attempted_field_goals_07_sum  dk_score_07_sum  dk_no_fg_07_sum  minutes_07_sum  ...  minutes_07_avg  rebounds_07_avg  w_07_avg        date
0                           0.0             0.00             0.00        0.000000  ...        0.000000              0.0  0.000000  2013-10-30
1                           1.0             7.25             5.25       18.450000  ...       18.450000              3.0  1.000000  2013-11-01
2                           6.0            28.75            18.75       41.333333  ...       20.666667              5.5  0.500000  2013-11-03
3                           9.0            37.25            25.25       50.116667  ...       16.705556              5.0  0.666667  2013-11-06
4                          11.0            53.25            37.25       51.833333  ...       17.277778              7.0  0.666667  2013-11-08

[5 rows x 12 columns]

In [95]:
test = data [data['slug']=='adamsst01']
test.head()

       gamescore_rank  assists  attempted_field_goals  attempted_free_throws  attempted_three_point_field_goals  ...  w three_pct   two_pct    ft_pct         dt
18249             200        1                      1                      1                                  0  ...  1       0.0  1.000000  0.000000 2013-10-30
18571             100        1                      5                      6                                  0  ...  0       0.0  0.400000  0.666667 2013-11-01
18885              95        0                      3                      0                                  0  ...  1       0.0  0.333333  0.000000 2013-11-03
19365              57        0                      3                      2                                  0  ...  1       0.0  0.666667  1.000000 2013-11-06
19679              12        3                     10                      4                                  0  ...  1       0.0  0.700000  0.750000 2013-11-08

[5 rows x 54 columns]

In [99]:
offset = 7
time_lag_sums=['dt','made_field_goals','dk_score','minutes','rebounds']
test[time_lag_sums].rolling('7d', on = 'dt',closed = 'left').sum().fillna(0)

              dt  made_field_goals  dk_score     minutes  rebounds
18249 2013-10-30               0.0      0.00    0.000000       0.0
18571 2013-11-01               1.0      7.25   18.450000       3.0
18885 2013-11-03               3.0     28.75   41.333333      11.0
19365 2013-11-06               4.0     37.25   50.116667      15.0
19679 2013-11-08               5.0     53.25   51.833333      21.0
19970 2013-11-10              10.0     75.25   59.466667      23.0
20492 2013-11-13               9.0     73.75   70.250000      21.0
20555 2013-11-14              10.0     64.00   71.516667      16.0
21000 2013-11-16               4.0     23.00   55.166667       6.0
21195 2013-11-18               4.0     34.25   49.116667      11.0
21625 2013-11-21               1.0     24.25   33.566667       7.0
22163 2013-11-24               2.0     26.75   29.566667       7.0
22704 2013-11-27               3.0     38.00   50.316667      14.0
22985 2013-11-29               2.0     19.50   38.166667      10.0
23301 2013-12-01               4.0     36.75   52.433333      17.0
23571 2013-12-03               4.0     30.50   34.783333      14.0
23719 2013-12-04               4.0     41.25   48.483333      19.0
23995 2013-12-06               5.0     48.75   49.983333      21.0
24308 2013-12-08               3.0     35.25   39.683333      17.0
24580 2013-12-10               3.0     44.75   48.566667      17.0
24759 2013-12-11               5.0     46.50   45.866667      16.0
25057 2013-12-13               4.0     44.00   48.700000      16.0
25372 2013-12-15               4.0     56.00   59.950000      18.0
25641 2013-12-17               5.0     53.50   62.316667      18.0
25931 2013-12-19               2.0     34.25   44.816667      11.0
26352 2013-12-21               3.0     42.25   56.816667      13.0
26439 2013-12-22               4.0     59.25   75.650000      19.0
26777 2013-12-25               2.0     50.50   56.666667      18.0
27044 2013-12-27               2.0     37.25   41.450000      13.0
27409 2013-12-29               2.0     33.50   38.750000      10.0
...          ...               ...       ...         ...       ...
36282 2019-02-22               0.0      0.00    0.000000       0.0
36283 2019-02-23               7.0     45.00   47.133333      10.0
36284 2019-02-26              12.0     68.25   75.033333      19.0
36285 2019-02-28              19.0     95.00  105.516667      24.0
36286 2019-03-02              16.0     82.00   90.033333      28.0
36287 2019-03-03              18.0     98.50   87.083333      32.0
36288 2019-03-05              24.0    144.50  119.433333      54.0
36289 2019-03-07              22.0    155.50  125.433333      60.0
36290 2019-03-08              24.0    151.75  132.566667      53.0
36291 2019-03-11              14.0     88.50  106.966667      28.0
36292 2019-03-13              15.0     78.00  103.950000      24.0
36293 2019-03-14              21.0    106.25  134.416667      31.0
36294 2019-03-16              20.0     82.00   97.800000      22.0
36295 2019-03-18              24.0    108.75  131.066667      31.0
36296 2019-03-20              23.0    117.50  122.233333      36.0
36297 2019-03-22              11.0     79.50   97.866667      28.0
36298 2019-03-25              11.0     79.00   97.733333      24.0
36299 2019-03-27               7.0     68.50  105.000000      20.0
36300 2019-03-29              16.0    103.75   99.800000      25.0
36301 2019-03-31              20.0    104.25  101.333333      25.0
36302 2019-04-02              29.0    126.00  108.116667      32.0
36303 2019-04-05              24.0    112.50  106.533333      28.0
36304 2019-04-07              23.0    121.75   95.783333      37.0
36305 2019-04-09              17.0     92.00   84.566667      28.0
36306 2019-04-10              14.0     79.25   87.933333      33.0
36307 2019-04-14               8.0     51.75   76.366667      21.0
36308 2019-04-16              12.0     68.50   85.050000      24.0
36309 2019-04-19              15.0     64.00   66.533333      18.0
36310 2019-04-21              20.0     86.25  101.333333      25.0
36311 2019-04-23              15.0     71.75   93.783333      23.0

[519 rows x 5 columns]

In [117]:
roll = test[time_lag_sums].rolling('7d', on = 'dt',closed = 'left')

In [116]:
test[['dt','assists','dk_score']].rolling('7d',on = 'dt').apply([np.sum,np.min])

/Users/shane/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  """Entry point for launching an IPython kernel.

TypeError: 'list' object is not callable

In [120]:
roll.apply(np.median)

/Users/shane/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  """Entry point for launching an IPython kernel.

              dt  made_field_goals  dk_score    minutes  rebounds
18249 2013-10-30               NaN       NaN        NaN       NaN
18571 2013-11-01               1.0     7.250  18.450000       3.0
18885 2013-11-03               1.5    14.375  20.666667       5.5
19365 2013-11-06               1.0     8.500  18.450000       4.0
19679 2013-11-08               2.0    21.500  20.166667       8.0
19970 2013-11-10               2.0    23.250  20.166667       9.0
20492 2013-11-13               2.0    23.250  20.166667       9.0
20555 2013-11-14               3.0    13.500  21.433333       4.0
21000 2013-11-16               1.0     7.000  19.566667       2.0
21195 2013-11-18               1.0    13.500  14.166667       4.0
21625 2013-11-21               0.0     3.500  13.516667       0.0
22163 2013-11-24               1.0    13.375  14.783333       3.5
22704 2013-11-27               1.5    19.000  25.158333       7.0
22985 2013-11-29               1.0     9.750  19.083333       5.0
23301 2013-12-01               1.0    14.750  14.266667       7.0
23571 2013-12-03               1.0     8.500  11.533333       4.0
23719 2013-12-04               1.0     9.625  12.616667       4.5
23995 2013-12-06               1.5    11.500  13.366667       5.0
24308 2013-12-08               0.5     9.625  11.008333       4.5
24580 2013-12-10               0.5    11.500  13.366667       4.5
24759 2013-12-11               1.5    12.375  12.016667       4.0
25057 2013-12-13               1.0    11.125  13.433333       4.0
25372 2013-12-15               1.0    14.125  15.541667       4.5
25641 2013-12-17               1.5    14.000  15.541667       4.5
25931 2013-12-19               0.0    15.500  15.216667       4.0
26352 2013-12-21               1.0    15.500  20.233333       4.0
26439 2013-12-22               1.0    16.250  19.533333       5.0
26777 2013-12-25               1.0    17.000  18.833333       6.0
27044 2013-12-27               1.0    10.500  12.000000       5.0
27409 2013-12-29               1.0    10.500  12.000000       3.0
...          ...               ...       ...        ...       ...
36282 2019-02-22               NaN       NaN        NaN       NaN
36283 2019-02-23               7.0    45.000  47.133333      10.0
36284 2019-02-26               6.0    34.125  37.516667       9.5
36285 2019-02-28               7.0    26.750  30.483333       9.0
36286 2019-03-02               5.0    26.750  30.483333       9.0
36287 2019-03-03               7.0    32.000  30.483333      13.0
36288 2019-03-05               6.5    35.875  31.066667      13.5
36289 2019-03-07               5.5    38.750  32.000000      13.5
36290 2019-03-08               6.0    38.750  34.416667      12.0
36291 2019-03-11               5.0    28.250  36.483333      10.0
36292 2019-03-13               6.0    27.250  33.466667       7.0
36293 2019-03-14               6.0    27.750  32.583333       7.0
36294 2019-03-16               6.0    27.250  33.466667       7.0
36295 2019-03-18               6.0    27.000  33.366667       7.5
36296 2019-03-20               5.5    27.500  31.866667       8.5
36297 2019-03-22               4.0    26.750  33.266667       9.0
36298 2019-03-25               4.0    26.250  33.133333       7.0
36299 2019-03-27               2.0    25.500  33.133333       7.0
36300 2019-03-29               4.0    26.250  33.133333       8.0
36301 2019-03-31               8.0    26.750  34.666667       8.0
36302 2019-04-02              10.0    47.250  34.766667      12.0
36303 2019-04-05               8.0    38.500  34.666667       8.0
36304 2019-04-07               7.0    38.500  33.183333      14.0
36305 2019-04-09               6.0    36.000  27.466667       8.0
36306 2019-04-10               4.0    25.750  27.466667      13.0
36307 2019-04-14               3.0    17.500  27.466667       6.0
36308 2019-04-16               3.0    25.750  36.150000       9.0
36309 2019-04-19               7.5    32.000  33.266667       9.0
36310 2019-04-21               7.0    29.750  34.800000       9.0
36311 2019-04-23               5.0    22.250  30.383333       7.0

[519 rows x 5 columns]

In [76]:
player_hist = data[data['slug']==slug].iloc[1:,:]
player_hist.shape

(594, 54)

In [104]:
player = 'adamsst01'
kce = Key('slug').eq(player)
pe = "slug, #dt, minutes_06t"
ea = {"#dt":"date"}
resp = table.query(IndexName = 'slug-date-index', KeyConditionExpression = kce,
        ExpressionAttributeNames =ea,
        ProjectionExpression = pe,
        ScanIndexForward = False,
        Limit = 1
        )['Items']

In [110]:
'dt'  in resp[0].keys()

False

In [77]:
resp.index = resp['date']
lag_data = resp.sort_index(axis = 0,ascending=True).shift(1)
#lag_data = player_df.shift(1)
lag_data.head()

           assists_06 assists_per_min_06  ... two_pct_06   w_06
date                                      ...
2013-01-02        NaN                NaN  ...        NaN    NaN
2013-01-05          8              0.185  ...      0.625      1
2013-01-09        6.5              0.179  ...      0.562    0.5
2013-01-11      5.667              0.152  ...      0.518  0.333
2013-01-13       7.25              0.183  ...       0.46    0.5

[5 rows x 24 columns]